<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=autodefenesasapp;AccountKey=6z9+gcEXyJaX52TTCLSwdD6qqMAVQ4FEWnVdGr3cKJ9biTNX9wqWNhFwP1EZot+YvTwQKtFSyRpAeGSQxp0r1g==;EndpointSuffix=core.windows.net"/>
    </appSettings>
</configuration>